<% @patient.appointments.each do |appointment| %>
    <p>Appointment Time: <%= appointment.readable_date %></p>
    <%= link_to appointment.doctor_name, doctor_path(appointment.doctor) %>
    <br>
<% end %>