
<% @patient.appointments.each do |appointment| %>
<label>Appointment: </label>
<%= link_to appointment.doctor.name, "/doctors/#{appointment.doctor.id}" %><br>

<label>Time:</label> <%= appointment.appointment_datetime.strftime("%B %d, %Y at %R") %><br><br>

<% end %>