<h1>Appointment Info: </h1>

<p> Doctor's Name: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %> </p>
<p> Patient's Name: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %> </p>
<p> Appointment Time: <%= link_to @appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %> </p>

