
<label>Doctor Name</label>
<%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor_id)%>

<label>Patient Name</label>
<%= link_to @appointment.patient.name, patient_path(@appointment.patient_id)%>

<label>Appointment Time</label>
<%= @appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %>
